{% extends "base.html" %}

{% block title %}
Church Fellowships
{% endblock %}


{% block content %}

<h1 class="mb-4">
    Church Fellowships
</h1>
<!-- =========================
📊 CHURCH STATISTICS
========================= -->

<div class="card shadow-sm border-0 mb-5">

  <div class="card-body">

      <h5 class="mb-4">
          FIG churches across the globe
      </h5>

      <div class="row text-center">

          <div class="col-6">

              <div class="display-6 fw-bold text-primary">
                  {{ churches_count }}
              </div>

              <div class="text-muted small">
                  Church Fellowships
              </div>

          </div>


          <div class="col-6">

              <div class="display-6 fw-bold text-success">
                  {{ countries_count }}
              </div>

              <div class="text-muted small">
                  Countries
              </div>

          </div>

      </div>

  </div>

</div>
{% if latest_church %}

<div class="card shadow-sm border-0 mb-5 bg-light">

    <div class="card-body">

        <span class="badge bg-success mb-3">
            Last Added to list
        </span>

        <h3 class="mb-1">
            {{ latest_church.city }}
        </h3>

        <p class="text-muted mb-2">
            {{ latest_church.country }}
        </p>

    

    </div>

</div>

{% endif %}

<div class="row">

{% for church in churches %}

<div class="col-md-4 mb-4">

    <div class="card shadow-sm">

        <div class="card-body text-center">

            <h4>
                {{ church.city }}
            </h4>

            <p class="text-muted">
                {{ church.country }}
            </p>

        </div>

    </div>

</div>

{% empty %}

<p>No church fellowships added yet.</p>

{% endfor %}

</div>


{% endblock %}