{% extends "base.html" %}

{% block title %}Topics{% endblock %}

{% block content %}

<h1 class="mb-4">Topics</h1>

{% if topics %}

    <div class="list-group">

        {% for topic in topics %}

       
               <a href="{% url 'topic_detail' topic.id %}"
   class="list-group-item list-group-item-action">

                <div class="d-flex justify-content-between align-items-center">

                    <span class="fw-semibold">
                        {{ topic.name }}
                    </span>

                </div>

            </a>

        {% endfor %}

    </div>

{% else %}

    <div class="alert alert-info">
        No topics have been added yet.
    </div>

{% endif %}

{% endblock %}